<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="{{ path('dashboard') }}">
                        Accueil
                    </a>
                </li>
                <li>
                    <a href="#">
                        Aide
                    </a>
                </li>
            </ul>
        </nav>
        <p class="copyright pull-right">
            <b>Version</b> 0.1
            &copy;
            <script>
                document.write(new Date().getFullYear())
            </script>
            <strong> <a href="#">Gestion des Projets</a> </strong>
        </p>
    </div>
</footer>