<div class="card card-nav-tabs">
    <div class="card-header" data-background-color="purple">
        <div class="nav-tabs-navigation">
            <div class="nav-tabs-wrapper">
                <h3>Ajout / Edition de l'utilisateur</h3>
            </div>
        </div>
    </div>
    <div class="card-content" >

        {{ form_start(form) }}
        {{ form_widget(form) }}

        <button type="submit" rel="tooltip" title="Enregistrer" class="btn btn-primary pull-right"><i class="material-icons">save</i></button>

        {{ form_end(form) }}
    </div>
</div>